<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
  <div th:replace="fragments/header :: header" />
  <h1 th:text="${account.id}"></h1>
  <table>
    <tr th:each="room,iterationStatus  : ${rooms}">
      <td th:text="${iterationStatus.count}">1</td>
      <td th:text="${room.name}">Name</td>
      <td th:text="${room.maxPlayers}">MaxPlayers</td>
      <td th:text="${room.theme.title}">Title</td>
    </tr>
  </table>
  <div th:replace="fragments/footer :: footer" />
</body>
</html>